<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Unicorn Wrangling</title>
</head>
<body data-ng-app="UnicornApp">
  <h1>This is my angular crud ... for unicorns</h1>
  <main data-ng-controller="UnicornsController" data-ng-init="getAll()">
    <form name="newUnicornForm" data-ng-submit="create(newUnicorn)">
      <h2>New Unicorn:</h2>
      <label for="newUnicornName">Name: </label>
      <input type="text" id="newUnicornName" required data-ng-model="newUnicorn.name">

      <label for="newUnicornColor">Color: </label>
      <input type="text" id:="newUnicornColor" data-ng-model="newUnicorn.color" placeholder="rainbow">

      <label for="newUnicornSpecies">Species: </label>
      <input type="text" id="newUnicornSpecies" data-ng-model="newUnicorn.species">

      <!-- <button type="submit" data-ng-disabled="newUnicornForm.$invalid">Create New Unicorn!!!</button> -->
      <!-- other buttons here? -->

      <button type="submit" data-ng-if="!editing">Create New Unicorn</button>
      <button type="button" data-ng-if="editing" data-ng-click="submitEdit(newUnicorn)">Submit Edit</button>
      <button type="button" data-ng-if="editing" data-ng-click="cancelEdit()">Cancel Edit</button>
    </form>

    <ul id="unicornlist">
      <li data-ng-repeat="unicorn in unicorns">
        {{unicorn.name}}

        <!-- <form name="unicornForm{{unicorn._id}}" data-ng-submit="update(unicorn)" data-ng-if="unicorn.editing">
          <h2>New Unicorn:</h2>
          <label for="unicornName{{unicorn._id}}">Name: </label>
          <input type="text" id="unicornName{{unicorn._id}}" required data-ng-model="unicorn.name">

          <label for="unicornColor{{unicorn._id}}">Color: </label>
          <input type="text" id:="unicornColor{{unicorn._id}}" data-ng-model="unicorn.color" placeholder="rainbow">

          <label for="unicornSpecies{{unicorn._id}}">Species: </label>
          <input type="text" id="unicornSpecies{{unicorn._id}}" data-ng-model="unicorn.species">

          <button type="submit">Place Unicorn In Unicorn Witness Protection</button>
          <button data-ng-show="unicorn.editing" data-ng-click="cancelEdit(unicorn)">This Unicorn Does Not Deserve Protection</button>
        </form> -->


<!--
        <button data-ng-if="!unicorn.editing" data-ng-click="edit(unicorn)">This Unicorn has seen too much!  New identity! ... edit Unicorn</button>
        <button data-ng-if="!unicorn.editing" data-ng-click="remove(unicorn)">Murdering Unicorns</button> -->

        <button type="button" data-ng-if="!editing" data-ng-click="edit(unicorn)">Edit Unicorn</button>
        <button type="button" data-ng-if="!editing" data-ng-click="remove(unicorn)">Delete Unicorn</button>
      </li>
    </ul>

  </main>
  <script src="/bundle.js"></script>
</body>
</html>


